<h2 class="heading-title">Live The <span>Experience</span></h2>

<div class="gallery-top">
    <div class="left-content">
        <div class="gallery-item">
            <a href="#" data-open="image0">
                <img src="assets/img/gallery/gallery_01_small.jpg">
            </a>
        </div>
    </div>
    <div class="right-content">
        <div class="right-container">
            <div class="gallery-item two-cols">
                <a href="#" data-open="image1">
                    <img src="assets/img/gallery/gallery_02_small.jpg">
                </a>
            </div>
            <div class="gallery-item">
                <a href="#" data-open="image2">
                    <img src="assets/img/gallery/gallery_03_small.jpg">
                </a>
            </div>
            <div class="gallery-item">
                <a href="#" data-open="image3">
                    <img src="assets/img/gallery/gallery_04_small.jpg">
                </a>
            </div>
            <div class="gallery-item two-cols">
                <a href="#" data-open="image4">
                    <img src="assets/img/gallery/gallery_05_small.jpg">
                </a>
            </div>
        </div>
    </div>
</div>